.sky-accordions {
	margin: 0;
	padding: 0;
}

.sky-accordion {
	margin: 0;
	display: block;

	.sky-reveal .content {
		min-height: auto;
	}

	.sky-reveal .content:after {
		content: none;
	}

	.title {
		margin: 0;
		width: 100%;
		border: none;
		font: inherit;
		padding: 10px;
		color: inherit;
		cursor: pointer;
		text-align: inherit;
		display: inline-block;
		vertical-align: baseline;
		background-color: transparent;
	}
}
